<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to whisper</h1>

        <div class="card">
            <p>
                <%= secret %>
            </p>
        </div>

        <div class="user-card">
            <p class="username">
                <%= username %>
            </p>
        </div>
    </div>


</body>

</html>